<form method="POST" action="<%= new_session_path %>">
	Name: <input type="text" name="name"></input>
	Password: <input type="password" name="Password"></input>
	<input type="submit" title="Submit"></input>
</form>