<form method="POST" action="<%= login_path %>">
	Name: <input type="text" name="name"></input>
	Password: <input type="password" name="password"></input>
	<input type="submit" title="Submit"></input>
</form>