<html lang="es">

	<head>
		<meta charset="UTF-8">
		<meta name="description" content="Bride & Groom">
		<title>Bride & Groom</title>
		<link rel="stylesheet" type="text/css" href="css/style.css">

		
	</head>

	<body>
		<div id="header">
				<h3>Bride</h5>
				<h4>&</h6>
				<h3>Groom</h5>
		</div>
		<div>
			<h1>HI, <%= @user.name %></h1>
			<h1>WELCOME TO OUR WEDDING SITE</h1>
			<p>Due to privacy reasons, in case you forget your password and lose your access card, you should contact us and we will provide you with a new one.</p>
			<h1>ENTER</h1>
		</div>
		
		<script type="text/javascript" src="js/jquery.js"></script> 
		<!--<script type="text/javascript" src="js/userweb.js"></script>-->	
	</body>

</html>